body{
    color: darkgoldenrod;    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 1px;
    border: 1px solid darkkhaki;
}

.cabecera {

    background-color:beige;
    color:chocolate;
}